.carousel-inner {
    overflow: visible !important;
}

.sr-only {
    display: none;
}

.carousel-indicators {
    display: none;
}

/* 
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(16.666%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-16.666%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start{ 
  transform: translateX(0);
}
 */
